<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>{{ page.title }}</title>
    <style>
      a{
        text-decoration: none;
        color:blue;
      }
      *:not(.w3-navbar){
        padding:0cm 0cm 0cm 0.4cm
      }
    </style>
    {% include mathjax.html %}
  </head>
  <body>


            <div class="w3-top">
      <div class="w3-bar w3-light-grey">
  <a href="/" class="w3-bar-item w3-button">Home</a>
  <a href="/TeamInfo/" class="w3-bar-item w3-button">Team Info</a>
          <a href="/extras/" class="w3-bar-item w3-button">Extras and Help</a>
          <a href="/meetings/" class="w3-bar-item w3-button">Meeting Plans + Videos</a>
          <a href="/hw/" class="w3-bar-item w3-button">Homework</a>
          <a href="/tech/" class="w3-bar-item w3-button">Website Help</a>
   <div class="w3-dropdown-hover">
     <button class="w3-button">Individual pages <i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-card-4"> 
      <a href="/albert/" class="w3-bar-item w3-button">Albert</a> 
      <a href="/bennett/" class="w3-bar-item w3-button">Bennett</a>
      <a href="/emma/" class="w3-bar-item w3-button">Emma</a>    
      <a href="/marvin/" class="w3-bar-item w3-button">Marvin</a>
      <a href="/michael/" class="w3-bar-item w3-button">Michael</a>
      <a href="/ryan/" class="w3-bar-item w3-button">Ryan</a>
      <a href="/cp/" class="w3-bar-item w3-button">Coach Playground</a>
     
 </div>
      <a href="/links/" class="w3-bar-item w3-button">Links</a>
  </div>
</div>
      </div>

    {{ content }}
    
  </body>
</html>
